---
const { frontmatter } = Astro.props;
import BaseLayout from './BaseLayout.astro'
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>Written by {frontmatter.author}</p>
    <p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
    <p>Description: {frontmatter.description}</p>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt}>
    <ul>{frontmatter.tags.map((tag) => <li>{tag}</li>)}</ul>
    <slot />
</BaseLayout>